body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.index, .creation {
    position: relative;
    min-height: 100vh;
    padding: 20px 50px;
    background: aqua;
}

.index_controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.index_controls-item {
    height: 50px;
    width: 50px;
    margin: 0 100px;
}

.index_controls-item svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.index_row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.index_row.mod_title {
    font-size: 18px;
    font-weight: bold;
    height: 100px;
}

.index_row.mod_tasks {
    font-size: 12px;
    font-weight: normal;
    height: 120px;
}


.index_row-item {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 100%;

    padding: 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}
.index_row-item.mod_user, .index_row-item.mod_email {
    word-break: break-all;
}

.index_row-item.mod_content {
    width: 300px;
}
.index_row-item.mod_is_done {
    flex-direction: column;
    justify-content: space-around;
}

.index_row-item:last-of-type {
    border-right: 2px solid #000;
}

.index_row:first-of-type .index_row-item {
    border-top: 2px solid #000;
}

.status {
    font-size: 12px;
    padding: 5px;
}

.status.mod_done {
    color: green;
}
.status.mod_expected {
    color: blue;
    cursor: pointer;
    transition: color .3s ease;
}
.status.mod_expected:hover {
    color: darkgoldenrod;
    cursor: pointer;
}
.status.mod_edited {
    color: red;
}

.sortable {
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.sortable.mod_desc {
    top: 10px;
    right: 10px;
}
.sortable.mod_asc {
    bottom: 10px;
    right: 10px;
}
.sortable .sortable_item {
    width: 100%;
    height: 100%;
}
.sortable .sortable_item.mod_sorted {
    fill: blue;
}

.index_empty {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    letter-spacing: 0.15em;
    color: coral;
}


.index_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.index_pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0 10px;
    font-weight: bold;

}
.index_pagination-item.mod_selectable {
    border: 1px solid blue;
    cursor: pointer;
    transition: color .3s ease;
}
.index_pagination-item.mod_selectable:hover {
    color: darkgoldenrod;
}

.index_pagination-item.mod_active {
    border: 1px solid blue;
    background: chartreuse;
    color: red;
}

.creation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creation_form-item {
    margin-top: 50px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
}
.creation_form-item * {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.creation_form-item textarea {
    height: 200px;
    resize: none;
}
.creation_form-submit {
    width: 200px;
    margin-top: 50px;
    padding: 5px 10px;
}

.is-invalid {
    border-color: red;
}
.is-error {
    color: red;
}

.creation_success-wrapper {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
}
.creation_success {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 200px;
    margin: 150px auto;
    padding: 0 20px;
    background: #fff;
}
.creation_success-info {
    text-align: center;
    font-size: 26px;
    color: green;
}
.creation_success-link {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s ease;
}
.creation_success-link:hover {
    color: goldenrod;
    border: 1px solid goldenrod;
}

